body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #faf7f7;
    text-align: center;
}

h1 
{
    text-align: center;
    color: #fa0505;
}

img {
    width: 200px;
    border-radius: 35%;
    border: 2px dashed #fa0505;
}

ul 
{
    list-style-type: square ;
    margin: 20px auto;
    padding: 0;
    max-width: 300px;
    text-align: left;
}

a 
{
    display: inline-block;
    margin-top: 15px;
    color: #fa0505;
    text-decoration: none;
}

    a:hover 
    {
        text-decoration: underline;
    }